{% extends 'partials/base.html' %}
{% block title %}主 页{% endblock %}

{% block content %}
{% if request.user.is_authenticated and user.is_staff and user.is_superuser %}
{% include 'partials/topside.html' %}

<div class="mdui-row">
    <div class="mdui-col-xs-12 mdui-col-md-6">
        <div class="mdui-card mdui-hoverable" style="opacity: 0.9; margin-top: 15pt;">
            <div class="mdui-card-primary">
                <div class="mdui-card-primary-title">商品库存</div>
            </div>
              <!-- 卡片的内容 -->
            <div class="mdui-card-content">
                <canvas id="chart1" width="400" height="300"></canvas>
            </div>
        </div>
    </div>
    
    <div class="mdui-col-xs-12 mdui-col-md-6">
        <div class="mdui-card mdui-hoverable" style="opacity: 0.9; margin-top: 15pt;">
            <div class="mdui-card-primary">
                <div class="mdui-card-primary-title">订单统计</div>
            </div>
              <!-- 卡片的内容 -->
            <div class="mdui-card-content">
                <canvas id="chart2" width="400" height="300"></canvas>
            </div>
        </div>
    </div>
</div>
{% elif request.user.is_authenticated%}

{% include 'dashboard/staff_index.html' %}

{% else %}
<div class="mdui-col-md-2"></div>
<div style="padding-top: 60pt;" class = "mdui-col-md-8">
    <div class="mdui-card mdui-hoverable" style="opacity: 0.95;" >
        <div class="mdui-card-primary">
            <div class="mdui-card-primary-title">主页</div>
        </div>
        <!-- 卡片的内容 -->
        <div class="mdui-card-content">
            <div class="alert alert-danger">
                <h4>你没有权限访问，请登录账号</h4>
            </div>
            <div class="mdui-float-right" style="padding-bottom: 15pt;">
                <a class="mdui-btn mdui-btn-raised mdui-color-pink" style="font-weight: 600;" href="{% url 'user-login'%}">登录</a>
            </div>
        </div>
    </div>
</div>

{%  endif %}

<script>
    var ctx1 = document.getElementById('chart1').getContext('2d');
    var chart1 = new Chart(ctx1, {
        type: 'bar',
        data: {
            labels: [{% for product in products %} '{{product.name}}', {% endfor %}],
            datasets: [{
                label: '不同商品供应量统计',
                data: [{% for product in products %} {{ product.quantity }}, {% endfor %}],
                backgroundColor: [
                    'rgba(59, 197, 187, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(205, 159, 64, 1)',
                    'rgba(107, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(55, 159, 64, 1)',
                ],

                borderColor: [
                    'rgba(59, 197, 187, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',

                ],
                borderWidth: 1
            }]
        },
        
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

    var ctx2 = document.getElementById('chart2').getContext('2d');
        var chart2 = new Chart(ctx2, {
            type: 'pie',
            data: {
                labels: [{% for order in orders %} '{{order.product}}',{% endfor %}],
                datasets: [{
                    label: '订单销售情况统计',
                    data: [{% for order in orders %} {{ order.order_quantity }}, {% endfor %}],
                    backgroundColor: [
                        'rgba(59, 197, 187, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(107, 99, 13, 1)',
                        'rgba(25, 159, 64, 1)',
                        'rgba(154, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(55, 159, 64, 1)',
                    ],

                    borderColor: [
                        'rgba(59, 197, 187, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'

                    ],

                    borderWidth: 1
                }]
            },

        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
{% endblock %}